Plan działania:

1. Klasteryzacja sklepów - Hubert
2. Badanie zbioru + budowa modeli
2.1 XGBoost Regresor - Hubert
2.2 Random Forest Regresor - Błażej
2.2. SVM - Jonasz 
2.3. Preprocessing datasetu
3. Sieci rekurencyjne - szeregi czasowe - budowa sieci Jonasz/Błażej/Hubert
4. Prezentacja 
4.1 Szablon - Hubert
4.2 Uzupełnienie wartości merytorycznej Jonasz/Błażej/Hubert 
5. Aplikacja - Angelika

In [1]:
import pandas as pd
import numpy as np

from sklearn.cluster import KMeans

In [4]:
df = pd.read_csv("Walmart.csv")
# df = df.drop(columns="Date", axis=1)
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

In [9]:
counter = 0

for i in df["Store"].unique():
    counter += 1

print(counter)

45

In [9]:
def dataset_clustering_0(dataset):
    km = KMeans(n_clusters=3, max_iter = 100, n_init=10)
    km.fit(dataset)
    dataset["cluster_sklearn"] = km.labels_

    class_0 = dataset[dataset["cluster_sklearn"] == 0]

    return class_0

def dataset_clustering_1(dataset):
    km = KMeans(n_clusters=3, max_iter = 100, n_init=10)
    km.fit(dataset)
    dataset["cluster_sklearn"] = km.labels_

    class_1 = dataset[dataset["cluster_sklearn"] == 1]

    return class_1

def dataset_clustering_2(dataset):
    km = KMeans(n_clusters=3, max_iter = 100, n_init=10)
    km.fit(dataset)
    dataset["cluster_sklearn"] = km.labels_

    class_2 = dataset[dataset["cluster_sklearn"] == 2]

    return class_2

In [10]:
df_0 = dataset_clustering_0(df)
df_1 = dataset_clustering_1(df)
df_2 = dataset_clustering_2(df)

In [11]:
print(df_0["Store"].unique())
print(df_1["Store"].unique())
print(df_2["Store"].unique())

[ 3  5  7  8  9 12 15 16 17 18 21 22 25 26 29 30 33 34 35 36 37 38 40 42
 43 44 45]
[ 3  5  7  8  9 12 15 16 17 18 21 22 25 26 29 30 33 34 35 36 37 38 40 42
 43 44 45]
[ 1  6  7  8  9 11 12 14 15 16 17 18 19 21 22 23 24 25 26 27 28 29 31 32
 34 35 39 40 41 45]

In [13]:
file_name = "Walmart_clusters.xlsx"
df.to_excel(file_name)